.post-feed-block{
  .post-feed-block-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (max-width: 905px){
      flex-direction: column;
    }
  }
  .post-feed-left{
    width: calc(66.66%);
    padding-right: 30px;
    border-right: 1px solid rgba(0,0,0,0.4);
    @media (max-width: 905px){
      width: 100%;
      padding-right: 0px;
      border-right: 0px;
    }
  }
  .post-feed-right{
    width: calc(33.333% - 30px);
    display: flex;
    flex-direction: column;
    @media (max-width: 905px){
      width: 100%;
      .post-block:last-child{
        border-bottom: 0px;
      }
    }
    h4{
      font-size: 20px;
    }
  }
}


.post-feed-block-2{
  border-bottom: 1px solid rgba(0,0,0,0.4);
  margin-bottom: 30px;
  .post-type-cont{
    display: none;
  }
  .post-feed-block-inner{
    display: flex;
    justify-content: space-between;
    @media (max-width: 905px){
      flex-direction: column;
    }
    article{
      width: calc(50% - 30px);
      border-bottom: 0px;
      margin-right: 30px;
      @media (max-width: 905px){
        width: 100%;
        margin-right: 0px;
      }
      &:first-child{
        position: relative;
        @media (max-width: 905px){
          border-bottom: 1px solid rgba(0,0,0,0.4);
        }
        &:before{
          content: '';
          position: absolute;
          left: calc(100% + 30px);
          top: 0;
          height: 100%;
          width: 1px;
          background-color: rgba(0,0,0,0.4);
          @media (max-width: 905px){
            display: none;
          }
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
