$mobile_width: 767px;
$tablet_width: 1056px;

@mixin cubic {
	transition: cubic-bezier(0.645, 0.045, 0.355, 1) 300ms all;
}

@mixin mobile {
	@media (max-width: 767px) {
		@content;
	}
}

body {
	font-family: $mrEaves;
}

h1 {
	margin-bottom: 35px;
	font-size: 65px;
	a {
		word-break: break-word;
	}
}

h2 {
	margin-bottom: 25px;
	font-size: 40px;
	a {
		word-break: break-word;
	}
}

h3 {
	margin-bottom: 15px;
	font-size: 35px;
	@media (max-width: 375px) {
		&.too-long {
			font-size: 30px;
		}
	}
	a {
		word-break: break-word;
	}
}

h4 {
	margin-bottom: 15px;
	font-size: 29px;
	font-weight: 600;
	line-height: 1.2em;
	a {
		word-break: break-word;
	}
}

h5 {
	margin-bottom: 15px;
	font-size: 20px;
	a {
		word-break: break-word;
	}
}

h6 {
	margin-bottom: 15px;
	font-size: 15px;
	a {
		word-break: break-word;
	}
}

p {
	margin-bottom: 20px;
	font-size: 23px;
	line-height: 1.4em;
	color: $ughGray;
	letter-spacing: 0.03em;
	font-weight: 200;
	a {
		word-break: break-word;
	}
}

a {
	color: $skyBlue;
}

em {
	font-style: italic;
}

#content {
	padding-top: 70px;
	@media (max-width: 1200px) {
		padding-top: 50px;
	}
}

.content-margins {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
	&.wide {
		width: 95%;
		max-width: 1280px;
		@include mobile {
			width: 90%;
		}
	}
	&.narrow {
		max-width: 850px;
	}
}

.bg-center {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.full-width-title {
	width: 100%;
	text-align: center;
	background-color: $darkGray;
	color: white;
	padding: 15px 0;
	margin-bottom: 25px;
	h4 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 0px;
	}
}

.section-title {
	text-transform: uppercase;
	font-size: 20px;
	color: $ughGray;
	letter-spacing: 0.15em;
	font-weight: 600;
	margin-bottom: 60px;
}

h1.section-title {
	font-size: 50px;
}

@mixin button {
	border: 1px solid $skyBlue;
	border-radius: 25px;
	padding: 8px 25px;
	background-color: transparent;
	font-size: 18px;
	letter-spacing: 0.2rem;
	font-weight: 500;
	transition: cubic-bezier(0.645, 0.045, 0.355, 1) 300ms all;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background-color: $skyBlue;
	}
	&.filled {
		background-color: $skyBlue;
		color: white;
		&:hover {
			background-color: transparent;
			color: $skyBlue;
			border: 1px solid $skyBlue;
		}
	}
	&.wide {
		padding: 10px 35px;
	}
	@media (max-width: $tablet_width) {
		padding: 12px 25px;
	}
}

@mixin filledButton {
	border: 1px solid $skyBlue;
	border-radius: 25px;
	padding: 8px 25px;
	font-size: 18px;
	letter-spacing: 0.2rem;
	font-weight: 500;
	transition: cubic-bezier(0.645, 0.045, 0.355, 1) 300ms all;
	background-color: $skyBlue;
	color: white;
	&:hover {
		background-color: transparent;
		color: $skyBlue;
		border: 1px solid $skyBlue;
	}
}

.button,
button {
	@include button;
}

.button-cnt {
	margin: 20px 0;
	display: block;
	text-align: center;
	.button {
		text-transform: uppercase;
		font-weight: 600;
		padding: 15px 45px;
		border-radius: 40px;
		font-size: 20px;
	}
}

.page-content {
	a {
		color: $skyBlue;
	}
	ul,
	ol {
		padding-left: 20px;
		li {
			font-size: 25px;
			margin-bottom: 20px;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}
	.wpcf7 {
		.form-inputs {
			width: 100%;
			display: flex;
			justify-content: space-between;

			p {
				width: calc(50% - 20px);
			}

			@media (max-width: 767px) {
				flex-direction: column;
				p {
					width: 100%;
				}
			}
		}
		label {
			width: 100%;
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			.wpcf7-form-control-wrap {
				width: 100%;
				display: block;
				margin-top: 15px;
			}
			input {
				width: 100%;
				border: 1px solid $darkGray;
				border-radius: 5px;
				padding: 10px;
			}
		}
		textarea {
			width: 100%;
			padding: 10px;
			border: 1px solid $darkGray;
			border-radius: 5px;
		}
		.wpcf7-validation-errors {
			display: none !important;
		}
		.wpcf7-not-valid-tip {
			font-size: 14px;
			margin-top: 5px;
			font-weight: 700;
		}
		input[type="submit"] {
			display: inline-block;
			margin: 0 auto;
		}
		.center {
			input[type="submit"] {
				@include button;
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 700;
				padding: 15px 45px;
				border-radius: 40px;
				margin-top: 20px;
				color: white;
				background-color: $skyBlue;
				&:hover {
					background-color: transparent;
					color: $skyBlue;
				}
			}
		}
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: 0.14em;
		font-weight: 600;
		text-transform: uppercase;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

.wp-block-columns {
	justify-content: center;
	.wp-block-column {
		ul,
		ol {
			li {
				font-size: 22px;
			}
		}
		@include mobile {
			margin-bottom: 35px;
		}
		.wp-block-image img {
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}
}

.wp-block-image img {
	height: auto;
}

.border-columns {
	.wp-block-column {
		border: 2px solid white;
		border-radius: 5px;
		padding: 15px;
		margin: 10px;
		min-width: 205px;
	}
}

.center {
	text-align: center;
}

.flex {
	display: flex;
}

.page-video-container {
	background-color: $darkGray;
	padding: 75px 0 175px;
}

.footer-margin-padding {
	padding-bottom: 120px;
	margin-bottom: -120px;
}

.top-padding {
	padding-top: 150px;
	@media (max-width: 1200px) {
		padding-top: 80px;
	}
	@include mobile {
		padding-top: 65px;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

.content-wrap {
	img {
		max-width: 100%;
		height: auto;
	}
}

article.footer-padding-gone {
	margin-bottom: -120px;
	padding-bottom: 100px;
}

.wp-block-image figcaption {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 0.14em;
	margin-bottom: 15px;
}

.mobile {
	display: none;
}

.wp-block-media-text {
	margin-bottom: 30px;
	img {
		height: auto;
	}
	&.is-stacked-on-mobile .wp-block-media-text__media {
		margin-bottom: 20px;
	}
}

.editor-styles-wrapper .has-normal-font-size,
.editor-styles-wrapper .has-regular-font-size,
.has-normal-font-size,
.has-regular-font-size {
	font-size: 20px;
}

.wp-block-cover {
	min-height: 600px;
}

@media (min-width: 782px) {
	.wp-block-column:not(:first-child) {
		margin-left: 45px;
	}
}

.wp-block-buttons {
	.wp-block-button {
		margin-right: 45px;
	}
}

.short-desc {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 20px;
	p:last-child {
		margin-bottom: 0;
	}
	p:nth-child(n + 2) {
		display: none;
	}
}

.block-button {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
