$mobile_width: 767px;
$tablet_width: 1056px;

body {
	font-family: $mrEaves;
}

h1 {
	margin-bottom: 15px;
	font-size: 65px;
}

h2 {
	margin-bottom: 15px;
	font-size: 45px;
}

h3 {
	margin-bottom: 15px;
	font-size: 35px;
}

h4 {
	margin-bottom: 15px;
	font-size: 29px;
	font-weight: 600;
	line-height: 1.2em;
}

h5 {
	margin-bottom: 15px;
	font-size: 20px;
}

h6 {
	margin-bottom: 15px;
	font-size: 15px;
}

p {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.4em;
	// letter-spacing: 0.1em;
}

a {
}

em {
	font-style: italic;
}

#content {
	padding-top: 50px;
}

.content-margins {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
	&.wide {
		width: 95%;
		max-width: 1350px;
	}
}

.bg-center {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.full-width-title {
	width: 100%;
	text-align: center;
	background-color: $darkGray;
	color: white;
	padding: 15px 0;
	margin-bottom: 25px;
	h4 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 100;
		margin-bottom: 0px;
	}
}

.button,
button {
	background-color: $skyBlue;
	border-radius: 10px;
	border: 0px;
	padding: 15px 50px;
	color: white;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
