.page-template-page-about {
	.page-content {
		padding-top: 50px;
		color: $darkGray;
		margin-bottom: 50px;
		h1 {
			text-transform: uppercase;
			color: $howManyGrays;
			letter-spacing: 0.2em;
			font-weight: 600;
			margin-bottom: 30px;
			font-size: 40px;
			line-height: 1.2em;
			text-align: center;
			@include mobile {
				font-size: 35px;
			}
		}
		p {
			color: $howManyGrays;
			font-weight: 200;
		}
	}
	.site-footer {
		padding-top: 0px;
	}
	.top-padding {
		@include mobile {
			padding-top: 0px;
		}
	}
	.legacy-page-nav {
		padding: 80px 0 10px;
	}
	.wpcf7-response-output {
		text-align: center;
	}
}

.page-header-container {
	height: 80vh;
	min-height: 400px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 0;
	}
	h1 {
		position: relative;
		z-index: 2;
		font-family: $mrEaves;
	}
	h2 {
		position: relative;
		z-index: 2;
		color: white;
		text-align: center;

		letter-spacing: 0.25em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 40px;
		margin-top: 30px;
	}
	a {
		text-decoration: none;
	}
}

.page-header-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-position: center;
	}
}

.about-page-nav-cont {
	position: relative;
}

.about-page-nav {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 100%;
	justify-content: center;
	right: 0;
	max-width: 100%;
	@media (max-width: 920px) {
		flex-wrap: wrap;
		justify-content: flex-start;
		top: 100%;
		position: initial;
	}
	a {
		padding: 20px 35px;
		background-color: white;
		text-decoration: none;
		text-transform: uppercase;
		color: $darkGray;
		font-size: 20px;
		font-weight: 600;
		border-right: 1px solid $gray;
		border-bottom: 1px solid $gray;
		min-width: 150px;
		text-align: center;
		transition: ease 300ms all;
		display: flex;
		justify-content: center;
		align-items: center;
		&:last-child {
			border-right: 0px;
		}
		&:hover,
		&.active {
			background-color: $skyBlue;
			color: white;
		}
		@media (max-width: 920px) {
			flex-grow: 1;
		}
	}
}

#about-page-video {
	background-color: $grayAgain;
	padding: 50px 0;
	color: white;
	margin-top: 100px;
	p {
		color: inherit;
	}
	h2 {
		text-transform: uppercase;
		font-size: 25px;
		color: white;
		letter-spacing: 0.2em;
		font-weight: 600;
		margin-bottom: 30px;
		text-align: center;
		line-height: 1.2em;
		@include mobile {
			font-size: 20px;
		}
	}
	iframe {
		width: 100%;
	}
}

.about-page-content {
	padding: 50px 0;
	img,
	figure {
		max-width: 100%;
		height: auto;
	}
}

.bottom-padding {
	padding-bottom: 120px;
}

.team-members {
	display: flex;

	flex-wrap: wrap;
	justify-content: center;
	.team-member {
		width: 31%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 45px;
		margin-right: 3%;
		.wrap {
			width: 100%;
		}
		&:nth-child(3n),
		&:last-child {
			margin-right: 0px;
		}
		@media (max-width: 900px) {
			width: 47%;
			margin-right: 3%;
			&:nth-child(2n) {
				margin-right: 0px;
			}
			&:nth-child(3n) {
				margin-right: 3%;
			}
		}
		@media (max-width: 600px) {
			width: 100%;
			margin-right: 0px !important;
		}
		.team-member-images {
			height: 0;
			width: 100%;
			position: relative;
			padding-bottom: 120%;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
				transition: ease 400ms all;
				&.image-now {
					z-index: 1;
				}
			}
			&:hover {
				.image-now {
					opacity: 0;
				}
			}
		}
		.team-member-name {
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 0.15em;
			position: relative;
			top: -20px;
			z-index: 1;
			span {
				background-color: $darkGray;
				color: white;
				box-shadow: 0 0 0 10px $darkGray;
				line-height: 1.8em;
			}
		}
		.team-member-info {
			margin-top: -5px;
		}
		p {
			margin-bottom: 10px;
		}
		a {
			color: $darkGray;
		}
	}
}

.board-members {
	.board-member {
		display: flex;
		margin-bottom: 80px;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 60px;
		}
		.board-left {
			min-width: 28%;
			max-width: 28%;
			margin-right: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media (max-width: 767px) {
				max-width: 50%;
				min-width: 50%;
				margin-right: 0px;
			}
		}
		.board-member-images {
			height: 0;
			padding-bottom: 120%;
			position: relative;
			width: 100%;
			//
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
				transition: ease 400ms all;
				&.image-now {
					z-index: 1;
				}
			}
			&:hover {
				.image-now {
					opacity: 0;
				}
			}
		}
		h3.board-member-name {
			color: white;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 0.15em;
			text-align: center;
			position: relative;
			z-index: 1;
			white-space: nowrap;
			top: -10px;
			@media (max-width: 767px) {
				margin-bottom: 40px;
			}
			span {
				background-color: $darkGray;
				padding: 10px 30px;
			}
		}
		.board-member-info {
			flex-grow: 1;
			h4 {
				text-transform: uppercase;
				font-size: 32px;
				letter-spacing: 0.15em;
				color: $ughGray;
			}
			p {
				font-weight: 300;
			}
		}
	}
}
