.archive-title {
	text-align: center;
	text-transform: uppercase;
	font-family: $mrsEaves;
	letter-spacing: 0.4em;
	font-weight: 700;
	font-size: 50px;
	color: white;
	@media (max-width: 767px) {
		font-size: 30px;
	}
}

.latest-articles {
	.section-title {
		font-weight: 700;
		font-size: 50px;
		color: $ughGray;
	}
}

.all-articles {
	.section-title {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 35px;
	}
}

h1.section-title {
	line-height: 1.6em;
	font-weight: 600;
}

.blue-bg {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: $anotherGray;
}

#see-more {
	text-transform: uppercase;
	font-weight: 600;
}
