.archive{
  .header-slides{
    margin-bottom: 0px;
  }
  .header-slide{
    padding-bottom: 30%;
    @media(max-width: 920px){
      padding-bottom: 0px;
      height: 50vh;
    }
    h1{
      text-align: center;
      font-style: italic;
    }
  }
  .archive-description{
    margin-bottom: 30px;
    p{
      font-size: 18px;
    }
  }
}


.podcast-listen-on{
  margin-bottom: 30px;
  h3{
    font-weight: 600;
    font-size: 25px;
  }
  .podcast-platform-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
      margin: 0 20px 20px 20px;
      img{
        height: 50px;
      }
    }
  }
}


.podcast-post{
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding-bottom: 30px;
  margin-bottom: 30px;
  // &:last-child{
  //   padding-bottom: 0px;
  //   border-bottom: 0px;
  // }
  a{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    @media(max-width: 767px){
      flex-direction: column;
    }
    .podcast-post-img{
      height: 0;
      padding-bottom: 15%;
      width: 25%;
      position: relative;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      @media(max-width: 1120px){
        width: 50%;
        padding-bottom: 30%;
      }
      @media(max-width: 767px){
        width: 100%;
        padding-bottom: 53%;
        margin-bottom: 20px;
      }
      img{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .podcast-post-desc{
      width: calc(75% - 30px);
      @media(max-width: 1120px){
        width: calc(50% - 30px);
      }
      @media(max-width: 767px){
        width: 100%;
      }
      h4{
        font-size: 25px;
        font-weight: 600;
        span.episode-deets{
          font-style: italic;
          @media(max-width: 1120px){
            display: block;
          }
        }
        .separator{
          font-style: normal;
          @media(max-width: 1120px){
            display: none;
          }
        }
      }
      p{
        font-size: 18px;
        margin-bottom: 0px;
      }
    }
  }
}

.podcast-hosts{
  margin-bottom: 30px;
  h5{
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
}
.podcast-hosts-cont{
  .podcast-host{
    display: flex;
    @media(max-width: 767px){
      flex-direction: column;
    }
    .podcast-host-img{
      width: 20%;
      margin-right: 30px;
      @media(max-width: 767px){
        width: 70%;
        margin: 0 auto 20px auto;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .podcast-host-desc{
      width: 80%;
      @media(max-width: 767px){
        width: 100%;
      }
    }
  }
}
