.blog {
	#page-header {
		margin-bottom: 40px;
	}
	.lead-article {
		margin-bottom: 60px;
		@media (max-width: 920px) {
			margin-bottom: 40px;
		}
		a {
			display: flex;
			justify-content: space-between;
			text-decoration: none;
			@media (max-width: 920px) {
				flex-direction: column;
			}
		}
	}
	.lead-article-img {
		width: calc(50% - 20px);
		@media (max-width: 920px) {
			margin-bottom: 25px;
			width: 100%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.lead-article-content {
		width: calc(50% - 20px);
		@media (max-width: 920px) {
			margin-bottom: 25px;
			width: 100%;
		}
	}
}
