.term-book-reviews {
	.lead-article-content {
		p {
			margin-bottom: 20px;
		}
		.button {
			margin-top: 20px;
			display: inline-block;
			border-radius: 25px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 12px 25px;
		}
	}
	.page-header-container {
		height: 60vh;
	}
}

.single-written,
.term-book-reviews {
	.all-articles {
		margin-top: 60px;

		padding: 60px 0 100px;
		.section-title {
			color: $ughGray;
		}

		.posts-feed {
			justify-content: space-between;
			a {
				border-radius: 5px;
				overflow: hidden;
				background-color: white;
				margin-bottom: 30px;
				display: block;
				.post-feed-info {
					margin-top: 0px;
					padding-top: 30px;
					padding-bottom: 10px;
					h6 {
						line-height: 1.3em;
						font-size: 24px;
					}
					.post-category {
						top: -10px;
					}
					p {
						font-size: 20px;
						text-transform: initial;
						font-weight: 200;
					}
				}
			}
		}
	}
	.site-footer {
		padding-top: 0px;
	}
}

.single-written {
	.all-articles {
		.slick-track {
			display: flex !important;
		}
		.slick-slide {
			height: inherit !important;
			outline: none;
		}
		.slick-dots {
			display: flex !important;
			justify-content: center;
			li {
				margin: 0 10px;
				button {
					background-color: white;
					font-size: 0px;
					padding: 0px;
					height: 10px;
					width: 10px;
					cursor: pointer;
				}
				&.slick-active {
					button {
						background-color: #6cb5ce;
					}
				}
			}
		}
		.posts-feed {
			a {
				// margin-bottom: 0px;
				margin-right: 20px;
				@media (max-width: 667px) {
					margin-right: 0px;
				}
			}
		}
	}
}
