$pink: #ed9795;
$anotherPink: #daa7bb;
$lightGray: #f3f3f3;
$gray: #d8d8d8;
$darkGray: #414a57;
$anotherGray: #39414d;
$ughGray: #757f87;
$grayAgain: #464f5b;
$offWhite: #f8f8f8;
$skyBlue: #6cb5ce;

$aBlue: #222945;
