.donate-footer-image {
	position: relative;
	margin-top: 80px;
	z-index: -1;
	margin-bottom: -120px;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.4);
	}
	h5 {
		position: absolute;
		top: 0;
		bottom: 0;
		text-align: center;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-transform: uppercase;
		color: white;
		z-index: 2;
		padding: 0 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		letter-spacing: 0.1em;
		font-weight: 600;
	}
}

.page-donate {
	.page-header-container,
	.donate-footer-image {
		height: 80vh;
	}
	.wp-block-button .wp-block-button__link {
		padding: 8px 25px !important;
		text-align: center;
	}
}
