.page-template-page-explore {
	section.home-projects {
		padding: 0px;
		.explore-repeater {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
			width: 100%;

			a {
				grid-column: auto / span 3;
				text-decoration: none;
				width: 100%;
				&:before {
					display: none;
				}
				@media (max-width: 767px) {
					grid-column: auto / span 6;
				}
				.home-projects-image {
					padding-bottom: 100%;
					margin-bottom: 15px;
				}
			}
			h5 {
				position: initial;
				color: $ughGray;
				padding: 0px;
				margin-bottom: 10px;
				font-size: 22px;
			}
			p {
				font-weight: 100;
				font-size: 20px;
			}
		}
	}
}
