.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }
  a.donate-button{
    background-color: $pink;
    color:black;
    border-radius: 15px;
    padding: 7px 12px;
  }

  .site-branding{
    display: flex;
    margin-right: 10px;
    img{
      height: 90px;
      width: auto;
    }
  }

  #site-navigation{
    display: flex;
    align-items: center;

    #menu-header-menu{
      display: flex;
      width: 100%;
      justify-content: space-between;
      > li{
        margin-right: 10px;
        position: relative;
        .sub-menu{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

    }
  }
}



.social-nav{
  ul{
    display: flex;
  }
  li{
    margin-right: 10px;
  }
  a{
    color: white;
    text-decoration: none;
  }
}


body{
  #content{
    // padding-top: 150px;
  }
}
