#masthead {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}

.site-header {
	display: flex;
	width: 100%;

	.header-inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		color: white;
		font-weight: 600;
		@media (max-width: $tablet_width) {
			font-size: 13px;
		}
	}

	.site-branding {
		margin-right: 50px;
		position: relative;
		width: 150px;
		img {
			top: 0px;
			width: 100%;
			height: auto;
			display: block;
			box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 4px;
			position: absolute;
		}
		@media (max-width: $tablet_width) {
			margin-right: 10px;
		}
	}
}

#site-navigation {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px 30px;
	background-color: $anotherGray;
	box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 4px;
	@media (max-width: 767px) {
		display: none;
	}

	.main-nav-inner {
		display: flex;
		max-width: 95%;
		margin: 0 auto;
	}
	.menu-header-menu-container {
		width: 100%;
		display: flex;
		align-items: center;
	}

	#menu-header-menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		.menu-item {
			margin-right: 25px;
		}
		.menu-item-has-children {
			position: relative;
			padding: 0 10px;
			width: 100%;
			> a {
				position: relative;
				font-size: 18px;
				letter-spacing: 0.2rem;
				font-weight: 500;
				z-index: 1;
				&:after {
					content: "";
					height: 7px;
					width: 7px;
					top: -5px;
					bottom: 0;
					left: calc(100% + 10px);
					margin: auto;
					position: absolute;
					border-left: 2px solid white;
					border-bottom: 2px solid white;
					transform: rotate(-45deg);
				}
			}

			.sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				transform: translateY(-20px);
				opacity: 0;
				pointer-events: none;
				transition: cubic-bezier(0.645, 0.045, 0.355, 1) 300ms all;
				background-color: $anotherGray;
				padding: 20px 10px 0;
				li {
					margin-bottom: 15px;
					margin-right: 0px;
					a {
						font-size: 15px;
						font-weight: 600;
						letter-spacing: 0.2rem;
					}
				}
			}
			&:hover {
				.sub-menu {
					transform: none;
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
	.nav-links {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 10px 0;
		align-items: center;
		@media (max-width: $tablet_width) {
			padding-right: 4%;
		}
	}
}

.donate-search {
	display: flex;
	align-items: center;
	.search-toggle {
		border: 0px;
		padding: 0;
		background-color: transparent;
		outline: none;
		position: relative;
		z-index: 4;
		img {
			filter: invert(1);
			height: 35px;
		}
		span {
			position: absolute;
			right: 0;
			top: 0;
			display: none;
			font-size: 75px;
			line-height: 35px;
		}
	}
}

.nav-search {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	display: flex;
	justify-content: center;
	padding-top: 200px;
	// display: none;
	opacity: 0;
	transform: translateY(-100%);
	@include cubic;
	.nav-search-close {
		position: absolute;
		right: 50px;
		top: 25px;
		button {
			font-size: 75px;
			line-height: 0px;
			background-color: transparent;
			border: 0px;
			outline: none;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		.search-field {
			width: 400px;
			font-size: 40px;
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid $darkGray;
			padding: 15px;
			font-weight: 800;
			text-align: center;
			outline: none;
		}
		label {
			margin-bottom: 30px;
		}
		input[type="submit"] {
			@include button;
			text-transform: uppercase;
			color: white;
			background-color: $skyBlue;
		}
	}
}

.site-header.show-search {
	.search-toggle {
		z-index: 3;
		img {
			opacity: 0;
			pointer-events: none;
		}
		span {
			display: block;
		}
	}
	.nav-search {
		transform: none;
		opacity: 1;
	}
}

#mobile-nav {
	position: fixed;
	height: 50px;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 25px;
	background-color: $darkGray;
	z-index: 10;
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
	#mobile-header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: inherit;
		.mobile-home {
			color: white;
			font-weight: 100;
			text-transform: initial;
			font-size: 22px;
			span {
				color: $skyBlue;
			}
		}
	}
	.menu-header-menu-container {
		margin-bottom: 30px;
	}
	#mobile-nav-links {
		position: absolute;
		left: 0;
		top: 100%;
		background-color: inherit;
		width: 100%;
		padding: 10px 25px 25px 25px;
		text-align: center;
		transform: translateY(-100%);
		z-index: -1;
		@include cubic;
		&.active {
			transform: none;
		}
		#menu-header-menu-1 {
			li {
				margin-bottom: 18px;
				a {
					font-family: $mrsEaves;
					font-size: 20px;
					font-weight: 100;
					letter-spacing: 0.07em;
				}
			}
			.menu-item-has-children {
				> a {
					display: block;
					margin-bottom: 12px;
				}
			}
			.sub-menu {
				li {
					margin-bottom: 10px;
				}
				a {
					font-family: $mrEaves;
					font-size: 13px;
				}
			}
		}
	}
}

#mobile-ham {
	background-color: transparent;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 0px;
	svg {
		width: 25px;
	}
	line {
		stroke: white;
	}
}
