.home {
	section {
		h3 {
			text-transform: uppercase;
			letter-spacing: 0.3em;
			color: $ughGray;
			font-weight: 700;
		}
	}
}

.header-slides {
	.slick-track {
		height: calc(100vh - 70px);
		@include mobile {
			height: calc(100vh - 50px);
		}
	}
	.slick-dots {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		display: flex !important;
		justify-content: center;
		padding-bottom: 20px;
		button {
			font-size: 0px;
			padding: 0px;
			height: 5px;
			width: 60px;
			border-radius: 0px;
			margin: 0 5px;
			background-color: transparent;
			cursor: pointer;
			background-color: white;

			border: 0px;
		}
		li.slick-active {
			button {
				background-color: $skyBlue;
			}
		}
	}
	a {
		&:nth-child(even) {
			.header-slide {
				.header-slide-info {
					left: auto;
					right: 0;
					width: 45%;
				}
			}
		}
	}
}

.header-slide-container {
	height: calc(100vh - 70px);
}

.header-slide {
	height: 100%;
	position: relative;
	width: 100%;

	&.slick-slide {
		padding-bottom: 10%;
	}

	// @media(min-width: 1441px){
	//   height:80vh;
	//   padding-bottom: 0px;
	// }
	.header-slide-img {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.5);
			height: 100%;
			width: 100%;
			z-index: 1;
			content: "";
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 0 25%;
		}
	}
	.header-slide-info {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		margin: auto;
		z-index: 1;
		display: flex;
		align-items: center;
		color: white;
		width: 60%;
		p {
			font-size: 27px;
			font-weight: 100;
			font-family: $mrEaves;
			letter-spacing: 0.04em;
			line-height: 1.2em;
			color: white;
			max-width: 65%;
		}
		h3 {
			text-transform: uppercase;
			font-family: $mrEaves;
			font-weight: 800;
			font-size: 55px;
			color: white;
			letter-spacing: 0.2em;
			margin-bottom: 20px;
			line-height: 1.1em;
		}

		.header-slide-cta {
			a {
				font-size: 18px;
				font-weight: 700;
			}
		}

		@media (max-width: 1280px) {
			width: 60%;
		}
		@media (max-width: 920px) {
			width: 100%;
		}

		@include mobile {
			padding-bottom: 0px;
			align-items: center;
			.header-slide-inner {
				width: 100%;
			}
			h3 {
				font-size: 25px;
			}
			p {
				font-size: 20px;
				max-width: unset;
			}
		}
	}
}

section.home-latest-videos {
	background-color: $anotherGray;
	color: white;
	text-align: center;
	padding: 60px 0;
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		font-family: $mrsEaves;
		letter-spacing: 0.3em;
		margin-bottom: 40px;
		color: white;
	}
}

.home-legacy-project {
	.header-slide-img {
		img {
			object-position: center;
		}
	}
}

.home-legacy-feed {
	background-color: $darkGray;
	color: white;
	padding: 40px 0;

	.content-margins {
		position: relative;
		padding: 0 30px;
	}

	p {
		font-weight: 100;
		font-size: 22px;
		letter-spacing: 0.1em;
		margin-bottom: 30px;
		color: white;
		line-height: 1em;
	}

	a {
		margin: 0 10px;
		color: white;
		text-decoration: none;
		display: block;
		width: 33%;
		outline: none;
		h4 {
			font-size: 27px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
	}
	.home-podcast-image {
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		margin-bottom: 20px;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.home-legacy-feed-inner {
		position: relative;
	}
	.legacy-arrow {
		padding: 0px;
		border: 0px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: 0 auto;
		display: flex;
		align-items: center;

		button {
			background-color: transparent;
			border: 0px;
			padding: 0px;
			outline: none;
		}
		img {
			height: 60px;
			margin-top: -50px;
			@include mobile {
				height: 50px;
			}
		}
		&.slick-disabled {
			img {
				opacity: 0;
				pointer-events: none;
			}
		}
		&.legacy-arrow-left {
			right: calc(100% - 10px);
			@include mobile {
				right: calc(100% - 20px);
			}
			img {
				transform: rotate(180deg);
			}
		}
		&.legacy-arrow-right {
			left: calc(100% - 10px);
			@include mobile {
				left: calc(100% - 20px);
			}
		}
	}
}

section.home-mission {
	text-transform: uppercase;
	text-align: center;
	padding: 100px 0;
	h3 {
		margin-bottom: 40px;
	}
	h5 {
		font-weight: 100;
		font-size: 30px;
		margin: 0 auto 30px auto;
		text-align: center;
		color: $ughGray;
		letter-spacing: 0.2em;
		line-height: 1.4em;
		padding: 0 20px;
		font-weight: 700;
	}
	@media (max-width: 767px) {
		h5 {
			font-size: 25px;
		}
	}
	.button {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 15px 45px;
		border-radius: 40px;

		margin-top: 20px;
		display: inline-block;
	}
}

section.home-feed {
	padding: 120px 0;
	@include mobile {
		padding: 60px 0;
	}
	.home-feed-post {
		display: flex;
		text-decoration: none;
		align-items: center;
		width: 100%;
		margin-bottom: 120px;
		color: $ughGray;
		&:last-child {
			margin-bottom: 0px;
		}
		h4 {
			font-size: 50px;
			text-transform: uppercase;
			@media (max-width: 1440px) {
				font-size: 40px;
			}
		}
		p {
			font-size: 30px;
			@media (max-width: 1440px) {
				font-size: 20px;
			}
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		.home-feed-post-img {
			width: 52%;
			position: relative;
			height: 0;
			padding-bottom: 25%;
			img {
				width: 100%;
				position: absolute;
				height: 100%;
				object-fit: cover;
			}
		}
		.home-feed-post-info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 48%;
			padding: 0 20px;

			h4 {
				color: $ughGray;
				letter-spacing: 0.1em;
			}
			.home-feed-post-info-inner {
				max-width: 500px;
				text-align: center;
			}
		}
		@include mobile {
			flex-direction: column !important;
			margin-bottom: 40px;
			.home-feed-post-img {
				width: 100%;
				padding-bottom: 50%;
				margin-bottom: 20px;
			}
			.home-feed-post-info {
				width: 100%;
			}
		}
	}
}

section.home-projects {
	padding: 60px 0;
	h3 {
		text-align: center;
		font-family: $mrEaves;
		font-size: 50px;
		font-weight: 600;
		letter-spacing: 0.1em;
		margin-bottom: 35px;
		@include mobile {
			font-size: 40px;
		}
	}
	.home-projects-feed {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		@media (max-width: 1280px) {
			flex-wrap: wrap;
		}
		a {
			width: 100%;
			margin-right: 35px;
			margin-bottom: 25px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(0, 0, 0, 0.2);
				height: 100%;
				width: 100%;
				z-index: 1;
			}
			&:last-child {
				margin-right: 0px;
			}
			.home-projects-image {
				height: 0;
				position: relative;
				width: 100%;
				padding-bottom: 185%;
				img {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			h5 {
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 0 25px;
				color: white;
				text-transform: uppercase;
				z-index: 2;
				font-size: 25px;
				font-weight: 700;
			}
			@media (max-width: 1280px) {
				width: calc(50% - 25px);
				&:nth-child(2) {
					margin-right: 0px;
				}
			}
			@media (max-width: 767px) {
				width: 100%;
				margin-right: 0px;
				.home-projects-image {
					padding-bottom: 100%;
				}
			}
		}
	}
	.button {
		text-transform: uppercase;
	}
}

section.newsletter-container {
	text-align: center;
	background-color: $offWhite;
	margin-bottom: -120px;
	padding-bottom: 120px !important;
	h3 {
		font-family: $mrEaves;
		font-size: 40px;
		letter-spacing: 0.2em;
		font-weight: 700;
		margin-bottom: 30px;
	}
	label {
		span.form-label {
			font-size: 0px;
			line-height: 0px;
		}
		br {
			display: none;
		}
		.wpcf7-form-control-wrap {
			display: block;
			input {
				max-width: 100%;
				padding: 15px 35px;
				font-size: 20px;
				text-align: center;
				border-radius: 22px;
				border: 1px solid $darkGray;
				background-color: transparent;
				outline: none;
				margin-bottom: 20px;
			}
		}

		::placeholder {
			text-transform: uppercase;
			color: $darkGray;
			letter-spacing: 0.1em;
			font-weight: 700;
		}
	}
	.wpcf7-submit {
		@include button;
		background-color: $ughGray;
		color: white;
		border: 0px;

		text-transform: uppercase;
	}
}
