.page-template-page-legacy-project {
	.page-header-container {
		height: 75vh;
		padding-top: 0px;
		margin-bottom: 50px;
		h2 {
			font-family: $mrEaves;
			font-size: 60px;
			margin: 0px;
			@include mobile {
				font-size: 40px;
			}
		}
	}
	.page-video-container {
		padding-bottom: 150px;
		h2 {
			color: white;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.3em;
			font-size: 34px;
			margin-bottom: 45px;
		}
	}
	h1 {
		margin-bottom: 50px;
	}
}

.legacy-page-nav-cont {
	text-align: center;
	.page-content {
		text-align: left;
		p {
			font-weight: 200;
		}
	}
}

.legacy-page-nav {
	width: 100%;
	margin-top: -50px;
	padding: 80px 0 10px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid $ughGray;
	display: inline-flex;
	justify-content: space-between;
	align-self: center;
	align-items: center;

	a {
		color: $ughGray;
		text-decoration: none;

		text-transform: uppercase;
		font-size: 19px;
		font-weight: 600;
		letter-spacing: 0.2em;
		@include cubic;
		padding: 0 10px;
		margin-right: 5px;
		&:hover,
		&.active {
			color: $skyBlue;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	@include mobile {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		a {
			text-align: center;
			margin: 0px;
			margin-bottom: 20px;
		}
	}
}

.filtered-feed {
	display: none;
	.no-posts {
		display: none;
		margin-top: 30px;
	}
	&.empty {
		.no-posts {
			display: block;
		}
	}
}

.posts-feed-cont {
	.filters {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		select {
			font-size: 16px;
			flex: 1;
			margin: 0 15px 15px;
			padding: 5px;
			text-transform: uppercase;
			font-family: $mrEaves;
		}
		@include mobile {
			flex-direction: column;
		}
	}
}
