.page-template-page-legacy-project {
	.post-category {
		display: none;
	}
	.page-header-container {
		height: 80vh;
		padding-top: 0px;
		margin-bottom: 50px;
		h2 {
			font-family: $mrEaves;
			font-size: 60px;
			margin: 0px;
			@include mobile {
				font-size: 40px;
			}
		}
	}
	.page-video-container {
		padding-bottom: 150px;
		h2 {
			color: white;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.3em;
			font-size: 34px;
			margin-bottom: 45px;
		}
	}
	h1 {
		margin-bottom: 50px;
	}
}

.legacy-page-nav-cont {
	text-align: center;
	h1 {
		margin-bottom: 0;
	}
	.page-content {
		text-align: left;
		padding-top: 30px;
		p {
			font-weight: 200;
		}
	}
}

.legacy-page-nav {
	width: 100%;
	margin-top: -50px;
	padding: 80px 0 10px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid $ughGray;
	display: inline-flex;
	justify-content: space-between;
	align-self: center;
	align-items: center;

	a {
		color: $ughGray;
		text-decoration: none;

		text-transform: uppercase;
		font-size: 19px;
		font-weight: 600;
		letter-spacing: 0.2em;
		@include cubic;
		padding: 0 10px;
		margin-right: 5px;
		&:hover,
		&.active {
			color: $skyBlue;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	@include mobile {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		a {
			text-align: center;
			margin: 0px;
			margin-bottom: 20px;
		}
	}
}

.filtered-feed {
	display: none;
	.no-posts {
		display: none;
		margin-top: 30px;
	}
	&.empty {
		.no-posts {
			display: block;
		}
	}
}

.posts-feed-cont {
	.filters {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		border: 2px solid $ughGray;
		border-radius: 5px;
		.filter-col {
			flex-grow: 1;
			flex-direction: column;
			padding: 5px 10px;
			margin: 0 10px;
			color: $ughGray;
			@media (max-width: 767px) {
				display: none;
				margin-bottom: 0px;
				&#communities {
					margin-top: 10px;
				}
			}
			@media (min-width: 768px) {
				&:not(#mobile-filters, #clear-filters) {
					display: flex !important;
				}
			}

			&:last-child {
				h6 {
					border: 0px;
					padding-right: 0px;
				}
			}
			@media (min-width: 768px) {
				&:nth-last-child(2) {
					h6 {
						border: 0px;
						padding-right: 0px;
					}
				}
			}
			h6 {
				user-select: none;
				cursor: pointer;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 0;
				padding: 3px 0;
				border-right: 2px solid $ughGray;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-right: 14px;
				svg {
					margin-left: 14px;
					height: 12px;
					path {
						fill: $ughGray;
					}
				}
				@media (max-width: 767px) {
					cursor: initial;
					border-right: 0;
					justify-content: center;
					padding-right: 0px;

					svg {
						display: none;
					}
				}
			}

			.options {
				display: none;
				flex-direction: column;
				justify-content: flex-start;
				margin-top: 15px;
				> div {
					margin-bottom: 10px;
					display: flex;
					align-items: center;
				}
				label {
					text-transform: uppercase;
					letter-spacing: 0.1em;
					cursor: pointer;
					margin-left: 10px;
					font-size: 15px;
					user-select: none;
					font-weight: 500;
				}
				@media (max-width: 767px) {
					display: block !important;
					> div {
						max-width: 180px;
						margin: 0 auto 10px;
					}
				}
			}
		}
		#mobile-filters {
			display: none;
			margin: 0;
			border-radius: 0;
			padding: 0;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $ughGray;
			}
			h6 {
				padding: 10px 15px;

				justify-content: space-between;
				cursor: pointer;
				svg {
					display: block !important;
				}
			}
			@media (min-width: 768px) {
				display: none !important;
			}
		}
		@include mobile {
			flex-direction: column;
		}
	}
}

.legacy-video-feed-page {
	.legacy-page-nav-cont,
	.posts-feed-cont {
		background-color: $offWhite;
	}
	.page-header-container {
		margin-bottom: 0px;
	}
	.legacy-page-nav-cont {
		padding: 50px 0;
	}
}

#clear-filters {
	margin: 0;
	padding: 0;
	display: none;
	button {
		color: white;
		border: 0;
		background-color: $ughGray;
		display: block;
		width: 100%;
		border-radius: 0px;
		padding: 0;
		font-weight: 400;
		padding: 15px 5px;
		text-transform: uppercase;
		font-size: 16px;
	}
	@media (min-width: 768px) {
		display: none !important;
	}
}
