#page-header {
	width: 100%;
}

.page {
	.page-content {
		padding-top: 60px;
		color: $ughGray;
		h1 {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.3em;
			font-size: 34px;
		}
		.section-title {
			margin-top: 20px;
			margin-bottom: 50px;
			font-weight: 600;
		}
	}
	.page-nav-container {
		display: flex;
		justify-content: center;
	}

	.wp-block-button {
		text-align: center;
		margin-bottom: 30px;
		.wp-block-button__link {
			@include button;
			text-transform: uppercase;
			font-weight: 600 !important;
			background-color: $skyBlue;
		}
		&.is-style-outline .wp-block-button__link {
			@include button;
			color: $skyBlue;
			&:hover {
				color: white;
			}
		}
	}
}
