.post-block{
  width: 100%;
  .post-block-image{
    margin-bottom: 10px;
    height: 0;
    padding-bottom: 60%;
    position: relative;
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
