.single {
	.site-header {
		&:before {
			transform: translateY(0%);
			opacity: 1;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
		}
	}

	.article-header {
		margin-bottom: 0px;
		h1 {
			font-weight: 600;
			line-height: 1.1em;
			font-size: 50px;
			margin-bottom: 30px;
			@include mobile {
				font-size: 35px;
			}
		}
	}
}

.article-tag {
	background-color: $gray;
	display: inline-block;
	padding: 5px 20px;
	font-size: 18px;
	margin-bottom: 20px;
}

.article-header {
	text-align: center;
	max-width: 900px;
	margin: 0 auto 30px auto;

	h4 {
		font-weight: 500;
		font-size: 20px;
	}
}

.post-content {
	margin-bottom: 50px;
	.kas-block.section-title {
		text-align: center;
	}
}

.credits {
	margin-bottom: 60px;
	h4.section-title {
		text-align: center;
	}
	.credit-content {
		max-width: 70%;
		margin: 0 auto;
		p {
			font-size: 25px;
			letter-spacing: 0.06em;
		}
	}
}

.podcast-listen-on {
	.section-title {
		text-align: center;
	}
}

.wp-block-gallery {
	margin-bottom: 50px;
	.blocks-gallery-item {
		cursor: pointer;
	}
}

.gallery-block-lightbox {
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	.gallery-block-lightbox-inner {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 90%;
			max-height: 70%;
			height: auto;
		}
	}
}

.single-meta {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: $ughGray;
	margin-bottom: 30px;
	text-align: center;
	p {
		margin-bottom: 15px;
	}
}

.single-tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	a {
		font-size: 34px;
		background-color: $skyBlue;
		color: white;
		font-style: italic;
		padding: 5px 20px;
		margin: 0 10px 20px;
		text-decoration: none;
		@include mobile {
			font-size: 24px;
		}
	}
}

.single-author {
	display: flex;
	.author-img {
		max-width: 200px;
		width: 100%;
		margin-right: 30px;
		min-width: 150px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.author-social {
	margin-top: 40px;
	a {
		text-decoration: none;
		margin-right: 20px;
	}
	img {
		max-height: 25px;
		width: auto;
	}
}

.book-review-content {
	display: flex;
	@include mobile {
		flex-direction: column;
	}
	.book-image {
		width: 30%;
		min-width: 30%;
		margin-right: 50px;
		@include mobile {
			width: 100%;
			margin-right: 0px;
			margin-bottom: 20px;
		}
		img {
			width: 100%;
			height: auto;
			position: sticky;
			position: -webkit-sticky;
			top: 150px;
		}
	}
}

.alignleft,
.wp-block-image .alignleft {
	float: left;
	margin-right: 15px;
}

.alignright,
.wp-block-image .alignright {
	float: right;
	margin-left: 15px;
}

.wp-block-cover {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;

	margin: 30px -50vw;
}
